<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Sliced lamb</th>
      <th>Tiger prawns</th>
      <th>Dory fish</th>
      <th>Baby kailan</th>
      <th>Mixed vegetables</th>
      <th>Sliced chicken</th>
      <th>Kagoshima japanese wagyu sirloin steak</th>
      <th>Lobster red wine sauce and yuzu kosho</th>
      <th>Iberico pork pluma</th>
      <th>Japanese steamed rice</th>
      <th>Table</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.sliced_lamb %></td>
        <td><%= order.tiger_prawns %></td>
        <td><%= order.dory_fish %></td>
        <td><%= order.baby_kailan %></td>
        <td><%= order.mixed_vegetables %></td>
        <td><%= order.sliced_chicken %></td>
        <td><%= order.kagoshima_japanese_wagyu_sirloin_steak %></td>
        <td><%= order.lobster_red_wine_sauce_and_yuzu_kosho %></td>
        <td><%= order.iberico_pork_pluma %></td>
        <td><%= order.japanese_steamed_rice %></td>
        <td><%= order.table %></td>
        <td><%= order.user_id %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


