<p id="notice"><%= notice %></p>

<p>
  <strong>Sliced lamb:</strong>
  <%= @order.sliced_lamb %>
</p>

<p>
  <strong>Tiger prawns:</strong>
  <%= @order.tiger_prawns %>
</p>

<p>
  <strong>Dory fish:</strong>
  <%= @order.dory_fish %>
</p>

<p>
  <strong>Baby kailan:</strong>
  <%= @order.baby_kailan %>
</p>

<p>
  <strong>Mixed vegetables:</strong>
  <%= @order.mixed_vegetables %>
</p>

<p>
  <strong>Sliced chicken:</strong>
  <%= @order.sliced_chicken %>
</p>

<p>
  <strong>Kagoshima japanese wagyu sirloin steak:</strong>
  <%= @order.kagoshima_japanese_wagyu_sirloin_steak %>
</p>

<p>
  <strong>Lobster red wine sauce and yuzu kosho:</strong>
  <%= @order.lobster_red_wine_sauce_and_yuzu_kosho %>
</p>

<p>
  <strong>Iberico pork pluma:</strong>
  <%= @order.iberico_pork_pluma %>
</p>

<p>
  <strong>Japanese steamed rice:</strong>
  <%= @order.japanese_steamed_rice %>
</p>

<p>
  <strong>Table:</strong>
  <%= @order.table %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
